@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply global font and ensure background fallback */
body {
  @apply font-sans;
  background-color: #f8faf9;
}